@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: #2C3333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

h1, h2, h3, a, p, span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 90px 180px 0 0;
}


// route

.route-enter-from{
    opacity: 0;
    transform: translateX(100px);
}
.route-enter-active{
    transition: all 0.3s ease-out;
}
.route-leave-to{
    opacity: 0;
    transform: translateX(-100px);
}
.route-leave-active{
    transition: all 0.3s ease-in;
}