@use "variables" as v;

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid v.$border-color;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 2rem 1.2rem 2rem;
    justify-content: space-between;
    .nav-logo{
        padding-left:20px ;
        display: flex;        
        justify-content: flex-start;
    }
    
}





